body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
  }
  
  header {
    background-color: cadetblue;
    padding: 20px;
    display: flex;
    justify-content: center;
    height: 50px;
    
  }
  footer{
    background-color: #e3e3e3;
    padding: 20px;
    display: flex;
    justify-content: center;

  }
 
  
  header h1 {
    margin: 0;
    font-size: 40px;
  }
  
  main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  #player-turn {
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  #board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  
  .cell {
    width: 100px;
    height: 100px;
    background-color: #e3e3e3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
  }
  
  #restart-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: darkred;
    color: #fff;
    border: none;
    cursor: pointer;
    height: 70px;
    border-radius: 10px;
    font-family: 'Poppins';
    font-size: x-large;
  }
  
  
  #restart-btn:active {
    background-color: aqua;
  }

